    <nav>
    <h2><a class="nav-link" href="/">todoer</a></h2>
    <ul>
        <li class="nav-item" id="home">
            <a class="nav-link" href="/">
                Home
            </a>
        </li>
        <li class="nav-item" id="work">
            <a class="nav-link" href="/work">
                Work
            </a>
        </li>
    </ul>
</nav>

